{% extends 'base.html.twig' %}

{% block body %}
	<br>
    <h1>Bienvenue sur ce merveilleux site !</h1>
    <br>
    Naviguez à votre guise et perdez vous joyeusement !
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <img class="container d-flex align-items-center" style='width:450px' src="{{ asset('assets/images/main.png') }}"/>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}